
version: '3'

services:
  db: 
    image: mongo:5
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGODB_DATABASE: qali-services
    volumes:
      - ./mongo:/data/db
      